
<h2>Notes: </h2>

<div class="row">
  <div class="input-field col s4">
    <input id="note_content" type="text" class="validate" [(ngModel)]="newNote.content">
    <label for="note_content" class="active">Content</label>
  </div>
  <div class="input-field col s4">
    <input id="note_hearts" type="number" class="validate" [(ngModel)]="newNote.hearts">
    <label for="note_hearts" class="active">Hearts</label>
  </div>
  <div class="input-field col s4">
    <button class="btn waves-effect waves-light" type="submit" name="action" (click)="addNote(newNote)">New note
      <i class="material-icons right">send</i>
    </button>
  </div>
</div>

<div *ngFor="let note of notes | async">
  <div class="row">
    <div class="input-field col s4">
      <input id="note_content" type="text" class="validate" [(ngModel)]="note.content">
      <label for="note_content" class="active">Content</label>
    </div>
    <div class="input-field col s4">
      <input id="note_hearts" type="number" class="validate" [(ngModel)]="note.hearts">
      <label for="note_hearts" class="active">Hearts</label>
    </div>
    <div class="input-field col s4">
      <button class="btn waves-effect waves-light" type="submit" name="action" (click)="updateNote(note)">Edit
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</div>
