

<nav class="sidebar sidebar-fixed">

  <ul class="sidebar-list"
      style="overflow: hidden; width: auto; height: 649px;">

    <li class="sidebar-list-item" routerLinkActive="selected">
      <a class="sidebar-list-link ng-scope"
          routerLink="/home">
        <span>Home</span>
      </a>
    </li>
    <li class="sidebar-list-item" routerLinkActive="selected">
      <a class="sidebar-list-link ng-scope"
          routerLink="/notes">
        <span>Notes</span>
      </a>
    </li>
  </ul>
</nav>
