<nav class="top-nav">
  <div class="nav-wrapper">
    <a routerLink="/home" class="brand-logo">My-resume</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li *ngIf="auth.user | async; then authenticated else guest">

      </li>
    </ul>
  </div>
</nav>

<!-- User NOT logged in -->
<ng-template #guest>
  <li>
    <a class="navbar-item" routerLink="/profile" routerLinkActive="selected">
      Sign in
    </a>
  </li>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <li>
    <a class="navbar-item" routerLink="/profile" routerLinkActive="selected">
      Profile
    </a>
  </li>
</ng-template>
