

.sidebar {
  width: 180px;
  top: 64px;
  left: 0;
  z-index: 904;
  display: block;
  height: calc(100% - 68px);
  position: fixed;
}


.sidebar-list {
    margin: 0;
    padding: 18px 0 0;
    list-style: none;
}

.sidebar-list-item.selected:not(.with-sub-menu) {
    background-color: #209e91;
}

.sidebar-list-item {
    display: block;
    position: relative;
    float: none;
    padding: 0;
}

.sidebar-list {
    margin: 0;
    padding: 18px 0 0;
    list-style: none;
}

.sidebar-list-item.selected:not(.with-sub-menu) a.sidebar-list-link, .sidebar-list-item.selected:not(.with-sub-menu) a.sidebar-list-link b {
    color: #fff;
}

a.sidebar-list-link {
    display: block;
    height: 42px;
    padding-left: 18px;
    font-size: 13px;
    text-decoration: none;
    line-height: 42px;
    cursor: pointer;
}

.search, a.sidebar-list-link {
    color: #fff;
    overflow: hidden;
    text-shadow: none;
    white-space: nowrap;
}

a.sidebar-list-link:hover, a.sidebar-list-link:hover b {
    color: #209e91;
}
