

<nav class="sidebar sidebar-fixed">

  <ul class="sidebar-list"
      style="overflow: hidden; width: auto; height: 649px;">

    <li class="sidebar-list-item selected">
      <a class="sidebar-list-link ng-scope"
          href="#/dashboard">
        <span>Menu 1</span>
      </a>
    </li>
    <li class="sidebar-list-item">
      <a class="sidebar-list-link ng-scope"
          href="#/dashboard">
        <span>Menu 2</span>
      </a>
    </li>
    <li class="sidebar-list-item">
      <a class="sidebar-list-link ng-scope"
          href="#/dashboard">
        <span>Menu 3</span>
      </a>
    </li>
    <li class="sidebar-list-item">
      <a class="sidebar-list-link ng-scope"
          href="#/dashboard">
        <span>Menu 4</span>
      </a>
    </li>
    <li class="sidebar-list-item">
      <a class="sidebar-list-link ng-scope"
          href="#/dashboard">
        <span>Menu 5</span>
      </a>
    </li>
  </ul>
</nav>
