

nav {
  background-color: rgba(0,0,0,.5) !important;
  background: rgba(0,0,0,.75) !important;
  -webkit-transition: width .5s ease;
  transition: width .5s ease;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

body {
    color: white;
    z-index: 1;
}

.input-field label{
  color: white !important;
}
